<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>kooraadmin-001-site1.dtempurl.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>kooraadmin-001-site1.dtempurl.com:8172/MsDeploy.axd?site=kooraadmin-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>kooraadmin-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>kooraadmin-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5014.site4now.net;Initial Catalog=DB_A55081_Koora;Persist Security Info=True;User ID=DB_A55081_Koora_admin;Password=r_nUUa5KNygVmE#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Koora.Models.ApplicationDbContext, Koora" MigrationConfiguration="Koora.Migrations.Configuration, Koora" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5014.site4now.net;Initial Catalog=DB_A55081_Koora;Persist Security Info=True;User ID=DB_A55081_Koora_admin;Password=r_nUUa5KNygVmE#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>